body   {
    background-color: #2d2d30;
}

.header {
    width: 100%;
    color: #fdfdfd;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;  
    margin: 20px 0;
    text-align: center;
}

.header h1  {
    display: inline-block;
    background-color: transparent;
    border-radius: 13px;
    margin: 0;
    font-size: 50px;
    padding: 5px 20px;
}

.inputdiv   {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input  {
    width: 420px;
    height: 48px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: 250;
    color: #e7e7e7;
    background-color: #59595e;
    border: 5px dashed #767676 ;
    border-radius: 13px;
    padding: 2px;
    box-sizing: border-box;
}

.input::placeholder  {
    color: #ffffff;
    padding-left: 10px;
    opacity: 0.6;
}

.input:focus::placeholder   {
    color: transparent;
}

.submit {
    color: #767676;
    font-size: 30px;
    background-color: #d9d9d9;
    width: 48px;
    height: 48px; 
    border: 5px solid #7b7b7b;
    border-radius: 13px;  
    margin-left: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 400ms ease;
}

.submit:hover {
    transform: scaleX(1.2) scaleY(1.2); 
    background-color: #c7c7c7;
}

.submit:active  {
    transform: scale(1.10) ;
    transition: 80ms;
}

#taskcontainer  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 45px;
    margin-top: 15px;
}

.tasks  {
    color: #c8c8c8;
    font-size: 23px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Inter', sans-serif;
    width: 400px;
    height: 45px;  
    margin: 12px;
    padding-left: 10px;
}

.donebutton {
    color: #615f5f;
    font-size: 30px;
    background-color: #2d2d30;
    width: 40px;
    height: 40px; 
    border: 3px solid #615f5f;
    border-radius: 13px;  
    margin-left: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 400ms ease;
}

.donebutton:hover {
    transform: scaleX(1.2) scaleY(1.2); 
    background-color: #393838;
}

.donebutton:active {
    transform: scale(0.90);
    background-color: #a2a2a2;
    transition: 100ms ease;
}

.subcontainer   {
    display: flex;
    align-items: center;
    border-radius: 10px; 
    border-bottom: #615f5f solid 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 450px;
    margin-bottom: 15px;
    height: 60px;
}