.header {
    width: 100%;
    color: #342313;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;  
    margin: 20px 0;
    text-align: center;
}

.header h1  {
    display: inline-block;
    background-color: #b48a5d;
    border-radius: 13px;
    margin: 0;
    font-size: 50px;
    padding: 5px 20px;
}

.inputdiv   {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input  {
    width: 400px;
    height: 35px;
    font-size: 21px;
    font-weight: 250;
    background-color: #ede1d2;
    border: 5px solid #3e2917;
    border-radius: 13px;
    padding: 2px;
}

.input::placeholder  {
    color: #3e2917;
}

.input:focus::placeholder   {
    color: transparent;
}